# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [132]:
# import libraries
import pandas as pd
import numpy as np
from scipy.stats import shapiro
from sklearn.preprocessing import MinMaxScaler # do not use the function Normalise() - it does something entirely different
from sklearn.preprocessing import StandardScaler

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [205]:
# import dataset
pokemon = pd.read_csv("C:\\Users\\Santiago\\Desktop\\Ironhack Files\\Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [206]:
# your code here
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

In [207]:
pokemon.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [208]:
# your code here
pokemon['Type 1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [209]:
pokemon['Type 2'].unique()

array(['Poison', nan, 'Flying', 'Dragon', 'Ground', 'Fairy', 'Grass',
       'Fighting', 'Psychic', 'Steel', 'Ice', 'Rock', 'Dark', 'Water',
       'Electric', 'Fire', 'Ghost', 'Bug', 'Normal'], dtype=object)

In [210]:
type1_counts = pokemon['Type 1'].value_counts()
type2_counts = pokemon['Type 2'].value_counts()
unique_values = pd.concat([pokemon['Type 1'], pokemon['Type 2']])
total_unique_values = Type1_Type2.nunique()
print(unique_values.unique())
print(f"Total number of unique values: {total_unique_values}") # contains 18 unique and 1 nan value

['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying' nan]
Total number of unique values: 18

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [211]:
# your code here
# Display the DataFrame with the 'Mega_Issue' column
mega_pokemon = pokemon[pokemon['Name'].str.contains('Mega')]
print(mega_pokemon['Name'].value_counts())

VenusaurMega Venusaur        1
GardevoirMega Gardevoir      1
MawileMega Mawile            1
AggronMega Aggron            1
MedichamMega Medicham        1
ManectricMega Manectric      1
SharpedoMega Sharpedo        1
CameruptMega Camerupt        1
AltariaMega Altaria          1
BanetteMega Banette          1
AbsolMega Absol              1
GlalieMega Glalie            1
SalamenceMega Salamence      1
MetagrossMega Metagross      1
LatiasMega Latias            1
LatiosMega Latios            1
RayquazaMega Rayquaza        1
LopunnyMega Lopunny          1
GarchompMega Garchomp        1
LucarioMega Lucario          1
AbomasnowMega Abomasnow      1
GalladeMega Gallade          1
AudinoMega Audino            1
SableyeMega Sableye          1
SwampertMega Swampert        1
CharizardMega Charizard X    1
BlazikenMega Blaziken        1
CharizardMega Charizard Y    1
BlastoiseMega Blastoise      1
BeedrillMega Beedrill        1
PidgeotMega Pidgeot          1
AlakazamMega Alakazam        1
SlowbroMega Slowbro          1
GengarMega Gengar            1
KangaskhanMega Kangaskhan    1
PinsirMega Pinsir            1
GyaradosMega Gyarados        1
AerodactylMega Aerodactyl    1
MewtwoMega Mewtwo X          1
MewtwoMega Mewtwo Y          1
Meganium                     1
AmpharosMega Ampharos        1
SteelixMega Steelix          1
ScizorMega Scizor            1
HeracrossMega Heracross      1
HoundoomMega Houndoom        1
TyranitarMega Tyranitar      1
SceptileMega Sceptile        1
DiancieMega Diancie          1
Name: Name, dtype: int64

In [212]:
# Display the filtered DataFrame
pokemon['Name'] = pokemon['Name'].str.replace(r'^(.+)(Mega )', 'Mega ', regex=True)
mega_pokemon = pokemon[pokemon['Name'].str.contains('Mega')]
print(mega_pokemon['Name'].value_counts())

Mega Venusaur       1
Mega Gardevoir      1
Mega Mawile         1
Mega Aggron         1
Mega Medicham       1
Mega Manectric      1
Mega Sharpedo       1
Mega Camerupt       1
Mega Altaria        1
Mega Banette        1
Mega Absol          1
Mega Glalie         1
Mega Salamence      1
Mega Metagross      1
Mega Latias         1
Mega Latios         1
Mega Rayquaza       1
Mega Lopunny        1
Mega Garchomp       1
Mega Lucario        1
Mega Abomasnow      1
Mega Gallade        1
Mega Audino         1
Mega Sableye        1
Mega Swampert       1
Mega Charizard X    1
Mega Blaziken       1
Mega Charizard Y    1
Mega Blastoise      1
Mega Beedrill       1
Mega Pidgeot        1
Mega Alakazam       1
Mega Slowbro        1
Mega Gengar         1
Mega Kangaskhan     1
Mega Pinsir         1
Mega Gyarados       1
Mega Aerodactyl     1
Mega Mewtwo X       1
Mega Mewtwo Y       1
Meganium            1
Mega Ampharos       1
Mega Steelix        1
Mega Scizor         1
Mega Heracross      1
Mega Houndoom       1
Mega Tyranitar      1
Mega Sceptile       1
Mega Diancie        1
Name: Name, dtype: int64

In [213]:
# test transformed data
pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` divided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [216]:
# your code here
pokemon['A/D Ratio'] = pokemon['Attack']/pokemon['Defense']
pokemon['A/D Ratio'] = pokemon['A/D Ratio'].astype(float)
pokemon['A/D Ratio'] = pokemon['A/D Ratio'].round(2)
pokemon[['A/D Ratio','Attack','Defense']].head(10)

   A/D Ratio  Attack  Defense
0       1.00      49       49
1       0.98      62       63
2       0.99      82       83
3       0.81     100      123
4       1.21      52       43
5       1.10      64       58
6       1.08      84       78
7       1.17     130      111
8       1.33     104       78
9       0.74      48       65

#### Identify the pokemon with the highest `A/D Ratio`.

In [217]:
# your code here
pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].max()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [218]:
# your code here
pokemon[pokemon['A/D Ratio']==pokemon['A/D Ratio'].min()]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.04

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [222]:
# your code here
def create_combo_type(row):
    if pd.notna(row['Type 1']) and pd.notna(row['Type 2']):
        return f"{row['Type 1']}-{row['Type 2']}"
    elif pd.notna(row['Type 1']):
        return row['Type 1']
    elif pd.notna(row['Type 2']):
        return row['Type 2']
    else:
        return np.nan
    
pokemon['Combo_type'] = pokemon.apply(create_combo_type, axis=1)
pokemon[['#','Name','Type 1','Type 2','Combo_type']].head(5)

   #           Name Type 1  Type 2    Combo_type
0  1      Bulbasaur  Grass  Poison  Grass-Poison
1  2        Ivysaur  Grass  Poison  Grass-Poison
2  3       Venusaur  Grass  Poison  Grass-Poison
3  3  Mega Venusaur  Grass  Poison  Grass-Poison
4  4     Charmander   Fire     NaN          Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [223]:
# your code here
top_5_pokemon = pokemon.sort_values(by='A/D Ratio', ascending=False).head(5)
top_5_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo_type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.00,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.50,Water-Dark
19,15,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.12,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.00,Water-Dark

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [225]:
# your code here
top_5_pokemon['Combo_type'].unique()

array(['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock'], dtype=object)

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [250]:
pokemon_top5_Combo_type = pokemon[(pokemon['Combo_type']=='Psychic')|(pokemon['Combo_type'] == 'Psychic')|(pokemon['Combo_type'] == 'Water-Dark')|(pokemon['Combo_type'] == 'Bug-Poison')|(pokemon['Combo_type'] == 'Rock')]
pokemon_top5_Combo_type = pokemon_top5_Combo_type.drop(['Name','Type 2','Type 1'], axis=1)
pokemon_top5_Combo_type = pokemon_top5_Combo_type.groupby('Combo_type').mean()
pokemon_top5_Combo_type

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo_type,,,,,,,,,,,
Bug-Poison,199.166667,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315833
Psychic,381.973684,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164211
Rock,410.111111,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.258889
Water-Dark,347.666667,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291667